<div ngeo-btn-group class="btn-group">
  <a
    href
    translate
    ngeo-btn
    class="btn btn-default gmf-drawfeature-point"
    ng-class="{active: dfCtrl.drawPoint.active}"
    ng-model="dfCtrl.drawPoint.active"></a>
  <a
    href
    translate
    ngeo-btn
    class="btn btn-default gmf-drawfeature-linestring"
    ng-class="{active: dfCtrl.measureLength.active}"
    ng-model="dfCtrl.measureLength.active"></a>
  <a
    href
    translate
    ngeo-btn
    class="btn btn-default gmf-drawfeature-polygon"
    ng-class="{active: dfCtrl.measureArea.active}"
    ng-model="dfCtrl.measureArea.active"></a>
  <a
    href
    translate
    ngeo-btn
    class="btn btn-default gmf-drawfeature-circle"
    ng-class="{active: dfCtrl.measureAzimut.active}"
    ng-model="dfCtrl.measureAzimut.active"></a>
  <a
    href
    translate
    ngeo-btn
    class="btn btn-default gmf-drawfeature-rectangle"
    ng-class="{active: dfCtrl.drawRectangle.active}"
    ng-model="dfCtrl.drawRectangle.active"></a>
  <a
    href
    translate
    ngeo-btn
    class="btn btn-default gmf-drawfeature-text"
    ng-class="{active: dfCtrl.drawText.active}"
    ng-model="dfCtrl.drawText.active"></a>
</div>